---
---

<div class="mw padding">
  <h2>Simple Max-Width Wrapper</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, veniam rem quas, illum, vero ullam repudiandae tempore quibusdam nesciunt quisquam praesentium totam. Vero blanditiis saepe aut quaerat sequi nobis repellendus! Voluptatibus, architecto quo, vitae nam nisi a ut eos minima sint labore at laborum doloribus, eveniet laboriosam. Laboriosam possimus eaque vel et? Dolorem itaque assumenda excepturi odio sint sapiente voluptas labore non eligendi rerum! Doloremque nam molestias praesentium neque odio, perspiciatis atque aspernatur ipsa vitae suscipit a, voluptas sapiente ipsum sed accusamus. Officiis praesentium nobis deleniti eos qui officia ea vitae sunt ducimus? Provident aut odio accusantium debitis quod modi aspernatur ipsa? Consequatur eius minima soluta quam quasi optio suscipit ab esse natus labore voluptate, laudantium facilis id, in adipisci? At assumenda, deserunt, autem eum omnis quidem aliquid sequi, aperiam tempora fugiat modi nesciunt placeat beatae
    architecto provident accusamus consequuntur officiis perferendis! Obcaecati quaerat assumenda, a eligendi consequuntur impedit dolore.
  </p>
</div>


<div class="mw-min padding">
  <h2>Wrapper with min() function</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, veniam rem quas, illum, vero ullam repudiandae tempore quibusdam nesciunt quisquam praesentium totam. Vero blanditiis saepe aut quaerat sequi nobis repellendus! Voluptatibus, architecto quo, vitae nam nisi a ut eos minima sint labore at laborum doloribus, eveniet laboriosam. Laboriosam possimus eaque vel et? Dolorem itaque assumenda excepturi odio sint sapiente voluptas labore non eligendi rerum! Doloremque nam molestias praesentium neque odio, perspiciatis atque aspernatur ipsa vitae suscipit a, voluptas sapiente ipsum sed accusamus. Officiis praesentium nobis deleniti eos qui officia ea vitae sunt ducimus? Provident aut odio accusantium debitis quod modi aspernatur ipsa? Consequatur eius minima soluta quam quasi optio suscipit ab esse natus labore voluptate, laudantium facilis id, in adipisci? At assumenda, deserunt, autem eum omnis quidem aliquid sequi, aperiam tempora fugiat modi nesciunt placeat beatae
    architecto provident accusamus consequuntur officiis perferendis! Obcaecati quaerat assumenda, a eligendi consequuntur impedit dolore.
  </p>
</div>

<section class="bg-magenta">
  <div class="mw-min padding">
    <h2>Max-width wrapper inside parent element</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, veniam rem quas, illum, vero ullam repudiandae tempore quibusdam nesciunt quisquam praesentium totam. Vero blanditiis saepe aut quaerat sequi nobis repellendus! Voluptatibus, architecto quo, vitae nam nisi a ut eos minima sint labore at laborum doloribus, eveniet laboriosam. Laboriosam possimus eaque vel et? Dolorem itaque assumenda excepturi odio sint sapiente voluptas labore non eligendi rerum! Doloremque nam molestias praesentium neque odio, perspiciatis atque aspernatur ipsa vitae suscipit a, voluptas sapiente ipsum sed accusamus. Officiis praesentium nobis deleniti eos qui officia ea vitae sunt ducimus? Provident aut odio accusantium debitis quod modi aspernatur ipsa? Consequatur eius minima soluta quam quasi optio suscipit ab esse natus labore voluptate, laudantium facilis id, in adipisci? At assumenda, deserunt, autem eum omnis quidem aliquid sequi, aperiam tempora fugiat modi nesciunt placeat beatae
      architecto provident accusamus consequuntur officiis perferendis! Obcaecati quaerat assumenda, a eligendi consequuntur impedit dolore.
    </p>
  </div>
</section>

<section class="fb-wrapper bg-image padding">
  <h2>Fullbleed grid wrapper with text and background image</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime at minus sint sequi. Qui excepturi at mollitia quidem ipsum placeat, ipsa esse facilis eligendi commodi quibusdam saepe tenetur earum libero repellat veritatis officia nobis sunt enim eum itaque dolorem? Possimus reprehenderit ullam perspiciatis nostrum in cumque magnam voluptate dolore veritatis necessitatibus eum alias, ut quas nemo iste maiores accusamus dolorum facere quia vero consequuntur ea! Dolor voluptas quaerat tempora recusandae sed totam, minus obcaecati odit ducimus quo velit beatae voluptate quos dolorum dignissimos aut itaque, odio commodi magnam corporis! Fuga vero, optio quam eum veritatis aut quos dolor iusto consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, optio atque repellat enim a veritatis iusto suscipit, repellendus possimus necessitatibus perferendis aperiam exercitationem minus asperiores dolores quod, tempora amet dolorem dignissimos? Ratione, dolorum excepturi
    ab adipisci dignissimos eos corporis iste molestiae blanditiis delectus suscipit laudantium nostrum praesentium maxime assumenda veritatis.
  </p>
</section>
<!-- <section class="fb-wrapper">
  <img class="fullbleed" src="mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg" alt="" />
</section> -->

<section class="fb-col-wrapper padding">
  <div class="card bg-blue">
    <h2>Full-bleed grid wrapper</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime at minus sint sequi. Qui excepturi at mollitia quidem ipsum placeat, ipsa esse facilis eligendi commodi quibusdam saepe tenetur earum libero repellat veritatis officia nobis sunt enim eum itaque dolorem? Possimus reprehenderit ullam perspiciatis nostrum in cumque magnam voluptate dolore veritatis necessitatibus eum alias, ut quas nemo iste maiores accusamus dolorum facere quia vero consequuntur ea! Dolor voluptas quaerat tempora recusandae sed totam, minus obcaecati odit ducimus quo velit beatae voluptate quos dolorum dignissimos aut itaque, odio commodi magnam corporis! Fuga vero, optio quam eum veritatis aut quos dolor iusto consectetur.</p>
  </div>
  <img class="fb-right" src="/mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg" alt="" />
</section>

<section class="fb-col-wrapper padding">
  <div class="card bg-blue">
    <h2>Full-bleed grid wrapper with gap</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime at minus sint sequi. Qui excepturi at mollitia quidem ipsum placeat, ipsa esse facilis eligendi commodi quibusdam saepe tenetur earum libero repellat veritatis officia nobis sunt enim eum itaque dolorem? Possimus reprehenderit ullam perspiciatis nostrum in cumque magnam voluptate dolore veritatis necessitatibus eum alias, ut quas nemo iste maiores accusamus dolorum facere quia vero consequuntur ea! Dolor voluptas quaerat tempora recusandae sed totam, minus obcaecati odit ducimus quo velit beatae voluptate quos dolorum dignissimos aut itaque, odio commodi magnam corporis! Fuga vero, optio quam eum veritatis aut quos dolor iusto consectetur.</p>
  </div>
  <img class="fb-right" src="/mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg" alt="" />
</section>

<section class="mw padding demo">
  <div class="card bg-blue">
    <h2>Possimus reprehenderit ullam</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime at minus sint sequi. Qui excepturi at mollitia quidem ipsum placeat, ipsa esse facilis eligendi commodi quibusdam saepe tenetur earum libero repellat veritatis officia nobis sunt enim eum itaque dolorem? Possimus reprehenderit ullam perspiciatis nostrum in cumque magnam voluptate dolore veritatis necessitatibus eum alias, ut quas nemo iste maiores accusamus dolorum facere quia vero consequuntur ea! Dolor voluptas quaerat tempora recusandae sed totam, minus obcaecati odit ducimus quo velit beatae voluptate quos dolorum dignissimos aut itaque, odio commodi magnam corporis! Fuga vero, optio quam eum veritatis aut quos dolor iusto consectetur.</p>
  </div>
  <img class="fb-right" src="/mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg" alt="" />
</section>


<style>

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  padding: 2rem;
  border-radius: 14px;
}

.bg-image {
  background-image: url("../mike-l-8Qr1ixi-rMU-unsplash.jpg");
}

.bg-blue {
  background: linear-gradient(45deg, hsl(240, 100%, 43%) 20%, hsl(269, 100%, 32%));
}

.bg-magenta {
  background: linear-gradient(45deg, hsl(300, 100%, 36%) 10%, hsl(258, 100%, 26%));
}

.padding {
  padding-block: clamp(2rem, 0.1818181818rem + 7.7575757576vw, 6rem);
}

.mw {
  max-width: 60rem;
  margin-inline: auto;
}

.mw-min {
  width: min(100% - 40px, 60rem);
  margin-inline: auto;
}

.fb-wrapper {
  display: grid;
  grid-template-columns: 1fr min(100% - 40px, 60rem) 1fr;
}
.fb-wrapper > * {
  grid-column: 2;
}
.fb-wrapper > .fullbleed {
  grid-column: 1/-1;
}

.fb-col-wrapper {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 2;
  display: grid;
  grid-template-columns: 1fr repeat(var(--col-count), calc((min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) * var(--space-gap)) / var(--col-count))) 1fr;
  gap: var(--space-gap);
}
@media (width >= 43.75em) {
  .fb-col-wrapper {
    --space-lr: 80px;
    --space-gap: 30px;
    --col-count: 6;
  }
}
@media (width >= 62.5em) {
  .fb-col-wrapper {
    --col-count: 12;
  }
}
.fb-col-wrapper .card {
  grid-column: 2/-2;
}
@media (width >= 43.75em) {
  .fb-col-wrapper .card {
    grid-column: 2/5;
  }
}
@media (width >= 62.5em) {
  .fb-col-wrapper .card {
    grid-column: 2/8;
  }
}
.fb-col-wrapper img {
  grid-column: 2/-1;
}
@media (width >= 43.75em) {
  .fb-col-wrapper img {
    grid-column: 5/-1;
  }
}
@media (width >= 62.5em) {
  .fb-col-wrapper img {
    grid-column: 8/-1;
  }
}

</style>